@model FacilityCreateModel

<div class="mt-5 shadow rounded p-3 col-md-6 offset-md-3">
    <h3 class="text-center">Tesis Ekleme Formu</h3>
    <hr />
    <form asp-action="Create" asp-controller="Facilities" method="post">
        <div class="mb-3">
            <label asp-for="Name" class="form-label">Tesis Adı</label>
            <input type="text" class="form-control" asp-for="Name">
        </div>
        <div class="mb-3">
            <label asp-for="City" class="form-label">Tesis Şehri</label>
            <input type="text" class="form-control" asp-for="City">
        </div>
        <div class="mb-3">
            <label asp-for="Local" class="form-label">Tesis Bölgesi</label>
            <input type="text" class="form-control" asp-for="Local">
        </div>
        <button type="submit" class="btn btn-primary">Kaydet</button>
    </form>
</div>

<!-- Modal -->
<div class="modal fade" id="successModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="successModalLabel">İşlem Başarılı</h1>
            </div>
            <div class="modal-body">
                Tesis başarıyla eklendi.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Tamam</button>
            </div>
        </div>
    </div>
</div>

