@model UserCreateModel

<div class="mt-5 shadow rounded p-3 col-md-6 offset-md-3">
    <h3 class="text-center">Kulanıcı Ekleme Formu</h3>
    <hr />
    <form asp-controller="Users" asp-action="Create" method="post">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="UserName" class="form-label">Kullanıcı Adı</label>
            <input type="text" class="form-control" asp-for="UserName">
        </div>
        <div class="mb-3">
            <label asp-for="FullName" class="form-label">Ad Soyad</label>
            <input type="text" class="form-control" asp-for="FullName">
        </div>
        <div class="mb-3">
            <label asp-for="Email" class="form-label">E-Posta</label>
            <input type="email" class="form-control" asp-for="Email">
        </div>
        <div class="mb-3">
            <label asp-for="PhoneNumber" class="form-label">Telefon Numarası</label>
            <input type="text" class="form-control" asp-for="PhoneNumber">
        </div>
        <div class="mb-3">
            <label asp-for="Password" class="form-label">Parola</label>
            <input type="password" class="form-control" asp-for="Password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<!-- Success Modal -->
<div class="modal fade" id="successModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="successModalLabel">İşlem Başarılı</h1>
            </div>
            <div class="modal-body">
                Kullanıcı başarıyla eklendi.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Tamam</button>
            </div>
        </div>
    </div>
</div>
