@model List<QuestionListModel>

<div class="mt-5 col-md-8 offset-md-2">
    <div class="table-responsive">
        <table class="table table-big">
            <thead>
                <tr>
                    <th scope="col">Soru</th>
                    <th scope="col">Denetim</th>
                    <th class="text-end">
                        <a href="/questions/create" class="btn btn-sm btn-success">Soru Ekle</a>
                    </th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                @foreach (var question in Model)
                {
                    <tr>
                        <td>@question.Name</td>
                        <td>@question.SurveyName</td>
                        <td class="text-end">
                            <a href="/questions/edit/@question.Id" class="btn btn-sm btn-primary">Düzenle</a>
                            <a href="/questions/delete/@question.Id" class="btn btn-sm btn-danger">Sil</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>